header{
background:#98FB98;
background-image:url("frisbee.jpg");
}
h1{
color:#FFFFFF;
text-align:center;
font-size:150%;
}
h2{
color:#000000;
}
section{
background:#FFFFFF;
}
a{
color:#000000;
}
body{
margin:4%;
padding:15 px;
}
nav a{
text-decoration:none;
display:inline-block;
margin:2%;
padding:2%
text-align:center;
width:150px;
height:20px;
}
.active{
background-color:#FFFFFF;
}
.left{
width:20%;
float:left;
}

.right{
width:74%;
display:inline-block;
}
.left img{
width:80%;
}
table{
font-family:Times;
font-size:100%;
width:75%;
margin:5px;
}
thead{
background-color:#98FB98;
}
tr{
opacity:0.8;
text-align:left;
font-size:100%
}
td{
border:2px;
font-color:#000000;
padding:10px;
background-color:#98FB98;
}
